body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;
    flex-direction:row;
}

.left {
    width: 50%;
    height: 100vh;
    background-color: #F5A72F;
    color: white;
    text-align: right;
    font-size: 300%;
    padding-right: 2.5%;
}

.left textarea {
    color: #F5A72F;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0;
}

.left button {
    color: #F5A72F;
    background-color: black;
    border: none;
    margin: 0;
    height: 5vh;
    position: relative;
    bottom: 2vh;
    right: 1%;
    font-size: 1.5rem;
}

textarea::placeholder {
    color: #F5A72F;
    opacity: 0.5;
}

.right {
    width: 50%;
    height: 100vh;
    color: #F5A72F;
    font-size: 300%;
    padding-left: 2.5%;
}
